.paper {
  width: 80vw !important;
  background-color: #252525 !important;
}

.cards {
  background-color: #e6e6ca !important;
  color: rgb(0, 0, 0) !important;
}

.usernameDiv {
  display: flex;
  align-items: center;
  justify-content: center;
}

.h1tag {
  margin-left: 5px;
}
