.paper {
  width: 80vw !important;
  background-color: #6d9387 !important;
}

.cards {
  background-color: #cedbd8 !important;
  color: black !important;
}

.shareCard {
  background-color: #cedbd8 !important;
  color: black !important;
  width: 65vw !important;
  margin-bottom: 15px;
}

.shareDiv {
  display: flex;
  align-items: center;
  justify-content: center;
}

.usernameDiv {
  display: flex;
  align-items: center;
  justify-content: center;
}

.h1tag {
  margin-left: 5px;
}

.indivContainer {
  display: flex;
  margin-right: 10px;
}

.iconContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.indivItems {
  margin-left: 3px;
}
